<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="filePath" type="AirlineFlightDataService.Configuration.FilePathSection, AirlineFlightDataService"/>
  </configSections>
  <filePath destinationFileFolder="C:\ProcessorRoot\02-RAW" sourceFileFolder="C:\ProcessorRoot\01-Input" exceptionArrivalFilePath="C:\ProcessorRoot\03-Exception\Arrival"
            exceptionDepartureFilePath="C:\ProcessorRoot\03-Exception\Departure" curatedArrivalFilePath="C:\ProcessorRoot\04-Curated\Arrival" curatedDepartureFilePath="C:\ProcessorRoot\04-Curated\Departure"
            exceptionFileFolder="C:\ProcessorRoot\03-Exception">
  </filePath>
</configuration>